@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap');
@import "tailwindcss";


body { font-family: 'Source Sans 3', 'Inter', system-ui, -apple-system, sans-serif; }